.available {
  color: #03a045;
}
.notavailable {
  color: #f4023c;
}
.mainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.inputContainer {
  width: 100%;
  height: 70px;
  background-color: #949494;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
input {
  height: 40px;
  width: 200px;
  font-size: large;
  text-align: center;
}
.singleRow:nth-child(even) {
  background-color: #ddd;
}
.singleRow {
  margin-top: 10px;
  height: 40px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
}
.allseats {
  margin-top: 10px;
  padding: 12px;
  border: 2px solid #aaa;
}
h2 {
  margin-right: 60px;
  color: white;
}
